@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.ondrejvaclavek.cz" target="_blank">Ondřej Václavek</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
