@inherits Components.Shared.NavMenuComponent

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">GymVod Battleships</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Domů
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="player-new">
                <span class="oi oi-plus" aria-hidden="true"></span> Přidat hráče
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <span class="oi oi-plus" aria-hidden="true"></span> Seznam hráčů
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tournament-new">
                <span class="oi oi-plus" aria-hidden="true"></span> Nový turnaj
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tournaments">
                <span class="oi oi-plus" aria-hidden="true"></span> Turnaje
            </NavLink>
        </li>
    </ul>
</div>
