@page "/upload-new-game"
@using  GymVod.Battleships.Web.Model
@inject IFileUploadService fileUpload

<h1>Přidat hráče do turnaje</h1>

<EditForm Model="model">
    Zadej jméno: <InputText @bind-Value="model.Name" />
    Zadej heslo: <InputText type="password" @bind-Value="model.Password" />
    Vlož DLL soubor hráče: <InputFile OnChange="HandleFileSelected" />
</EditForm>

<button @onclick="HandleInsert">Vložit</button>

@code {
    private UploadNewGameModel model = new UploadNewGameModel();
    IFileListEntry file;

    private async Task HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();        
    }

    private void HandleInsert()
    {
        if (file != null)
        {
            await fileUpload.UploadAsync(file);
        }
    }
}
